{{#section 'css'}}
   <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-thong-tin-shop.css">
{{/section}}

{{#section 'js'}}
         <script type="text/javascript" src="/assets/thongTinChiTietSanPham.js">
    </script>
    <script type="text/javascript" src="/assets/quan-li-thong-tin-shop.js">
    </script>
{{/section}}

    <div class="link">
       
           <a href="/dash-board"> <span>  DashBoard</span></a>
         
      Quản lí thông tin shop
       
      
    </div>
    <div class="top1">
        <div class="row">
          <div class=" col-md-4">
            <div id="User-Avatar" class="">
                <div id="user-image">
                     <img src="/assets/image/default-avatar.png" style="background-image: /assets/image/background-avatar.png;">
                     
                </div>           
                <div id="user-type">
                    <b><h3>{{accadmin.TEN}}</h3></b>
                </div>   
            </div>
          </div>
          <div class=" col-md-8">
            <div id="User-Infor">
                    <div id="Infor-Content">
                        <form action="/dash-board/quan-li-thong-tin-shop/update" method="POST" role="form">
                            <div id="Account-Infor" class="form-group">
                                <b><h3>THÔNG TIN TÀI KHOẢN ADMIN</h3></b>
                                <div>
                                    <div class=" col-md-4">
                                        <label>USERNAME:</label>
                                    </div>
                                    <div class=" col-md-8">
                                        <input type="text" name="USERNAME" value="{{accadmin.USERNAME}}" class="form-control">
                                    </div>
                                </div>
                                <div >
                                    <a href="/dash-board/doimatkhau" class="btn" style="border: solid;">Đổi mật khẩu</a>
                                </div>
                            </div>
                            <div id="Personal-Infor">
                                <b><h3>THÔNG TIN CỬA HÀNG</h3></b>
                                <div>
                                    <div class=" col-md-4"><label>Địa Chỉ:</label></div>
                                      <div class=" col-md-8">
                                        <input type="text" name="DCHI" value="{{accadmin.DCHI}}" class="form-control">
                                    </div>
                                    <div class=" col-md-4">
                                        <label>Số Điện Thoại:</label>
                                    </div>
                                    <div class=" col-md-8">
                                        <input type="text" name="DTHOAI" value="{{accadmin.DTHOAI}}" class="form-control">
                                    </div>
                                    <div class=" col-md-4">
                                        <label>Email:</label>
                                    </div>
                                    <div class=" col-md-8">
                                        <input type="text" name="EMAIL" value="{{accadmin.EMAIL}}" class="form-control">
                                    </div>
                                    <div class=" col-md-4">
                                        <label>Facebook</label>
                                    </div>
                                    <div class=" col-md-8">
                                        <input type="text" name="FACEBOOK" value="{{accadmin.FACEBOOK}}" class="form-control">
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <div id="button">
                                <button type="submit">
                                    Cập Nhật
                                </button>
                            </div>
                        </form>
                    </div>
             </div>
          </div>
        </div>
    </div>
        
        