{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-khach-hang.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
    <script type="text/javascript" src="/assets/quan-li-khach-hang.js"></script>
{{/section}}

  <div class="link">
        <a href="/dash-board"> <span>  DashBoard</span></a>
        Quản lí khách hàng
        </div>
        <div class="body2">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title">Tìm kiếm khách hàng theo &nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/image/kinhLup.png"></div>
                <div class="inBox">
                    <form id="search-pro" method="post" action="/dash-board/quan-li-khach-hang/search">
                        <input type="text" name="search" placeholder="nhập thông tin tiềm kiếm">
                    </form>
                </div>
            </div>
            <div id="rightBox">
                <div class="title ">Danh sách khách hàng phù hợp kết quả tìm kiếm</div> 
               <ul id="listName">
                    <li class="tkkh" title="Tài khoản KH"><p>Tài khoản KH</p></li>
                    <li class="tkh" title="Tên khách hàng"><p>Tên khách hàng</p></li>
                    <li class="ns" title="Ngày sinh"><p>Ngày sinh</p></li>
                    <li class="gt" title="Giới tính"><p>Giới tính</p></li>
                    <li class="lkh" title="Loại khách hàng"><p>Loại khách hàng</p></li>
                </ul>
                {{#each accounts}}
                <ul id="content-ChiTietKhachHang" ">
                    <ul >
                         <a href="/dash-board/quan-li-khach-hang/thong-tin-chi-tiet-tai-khoan-chu-shop-xem?id={{MAKH}}">
                            <li class="tkkh" title="Tài khoản KH"><p>{{MAKH}}</p></li>
                            <li class="tkh" title="Tên khách hàng"><p>{{TEN}}</p></li>
                            <li class="ns" title="Ngày sinh"><p>{{NGAYSINH}}</p></li>
                            <li class="gt" title="Giới tính"><p>{{GIOITINH}}</p></li>
                            <li class="lkh" title="Loại khách hàng"><p>Loại khách hàng</p></li>
                        </a>
                    </ul>
                </ul>
                {{/each}}
            </div>
        </div>