{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/admin.css">
    <link rel="stylesheet" type="text/css" href="/assets/calendar.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hang-hoa.css">
    <link rel="stylesheet" type="text/css" href="/assets/thongTinChiTietSanPham.css">
}
{{/section}}

{{#section 'js'}}
      <script type="text/javascript" src="/assets/quan-li-hoa-don-hang.js"></script>
      <script type="text/javascript">
            $('.delItem').on('click', function() {
            var id = $(this).data('proid');
            $('#txtP').val(id);
            $('#frmdelItem').submit();
            });  
         $("#btnSearch").on('click',function(){
        $("#search-pro").submit();
        });  
      </script>
{{/section}}
        <form id="frmdelItem" method="post" action="/dash-board/quan-li-hang-hoa/del">
        <input type="hidden" name="proId" id="txtP">
        </form>
        <div class="link">
            <a href="/dash-board"> <span>  DashBoard</span></a> Quản lí sản phẩm
        </div>
        <div class="line"></div>
        <div class="row">
            <div id="leftBox" href="javascript:;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title" id="btnSearch">Tìm kiếm sản phẩm theo&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/image/kinhLup.png">
                </div>
                
                <div class="inBox"  style="padding: 10px 5px;">
                    <form id="search-pro" method="post" action="/dash-board/quan-li-hang-hoa/search">
                        <input type="text" name="search" placeholder="nhập thông tin tìm kiếm">
                    </form>
                </div>
                <a href="/dash-board/quan-li-hang-hoa" style="color: black;clear: both;"> 
                 <div class="title"  id="btnAll">Tất cả</div>
             </a>
                 <div class="title">
                    <a href="/dash-board/quan-li-hang-hoa/them-san-pham" style="text-decoration: none; display: inline-block;color:black;">Thêm sản phẩm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/image/add.png"></a>
                 </div>
            </div>
            
            <div id="rightBox" >
                <div class="title ">Danh sách sản phẩm phù hợp kết quả tìm kiếm</div> 
                <ul id="listName">
                    <li class="msp" title="Mã SP"><p>Mã SP</p></li>
                    <li class="tsp" title="Tên sản phẩm"><p>Tên sản phẩm</p></li>
                    <li class="asp" title="Ảnh"><p>Ảnh</p></li>
                    <li class="sltk" title="SL tồn kho"><p>SL tồn kho</p></li>
                    <li class="sldb" title="SL đã bán"><p>SL đã bán</p></li>
                    <li class="tln" title="Tổng lợi nhuận"><p></p></li>
                </ul>
                {{#each products}}
                    <ul id="content-ChiTietHangHoa">
                        <a href="/dash-board/quan-li-hang-hoa/thong-tin-chi-tiet-hang-hoa?id={{MASP}}">
                            <li class="msp"><p>{{MASP}}</p></li>
                            <li class="tsp"><p>{{TENSP}}</p></li>
                            <li class="asp">
                                <img src="/assets/image/sanpham/{{MASP}}/1.jpg">
                            </li>
                            <li class="sltk"><p>{{SOLUONGSPCON}}</p></li>
                            <li class="sldb"><p>{{SOLUONGSPDABAN}}</p></li>
                            <li class="tln" style="text-align: center;">
                                <a data-proid="{{MASP}}" href="javascript:;" class="btn btn-default delItem">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    DELETE
                                </a>
                            </li>
                        </a>
                    </ul>         
                {{/each}}
                {{#each page_numbers}}
                    {{#if isCurrentPage}}
                    <li class="active"><a href="#">{{value}}</a></li>
                    {{else}}
                    <li><a href="?page={{value}}">{{value}}</a></li>
                    {{/if}}
                {{/each}}        
            </div>
            
        </div>