{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/gio-hang.css">
{{/section}}

{{#section 'js'}}
    
   <script type="text/javascript">
if($('.c_sl').length===0){
    $('#btnHt').attr('disabled',true);
}

   var slArr=[];
   for(i=0;i<$('.c_btnSl').length;i++){
    slArr.push( $('[id^="'+'sl'+(i+1)+'"]').val());
   }
    $('.removeItem').on('click', function() {
        var id = $(this).data('proid');
        $('#txtP').val(id);
        $('#frmRemoveItem').submit();

    });
    $('.c_sl').attr('disabled',true);
    $('.editItem').on('click', function() {
        var t=$(this).attr('id').slice(4, 5);
        var a='btnSl'+t;
        var b='sl'+t;
        $('[id^="'+a+'"]').css('display','block');
        $('[id^="'+b+'"]').prop('disabled',false);

    });
    $('button').on('click',function(){
        var t=$(this).attr('id').slice(0,7);
        if(t==='btnDong'){
            var a='btnSl'+$(this).attr('id').slice(7,8);
             var b='sl'+$(this).attr('id').slice(7,8);
              $('[id^="'+a+'"]').css('display','none');
              var tt=parseInt($(this).attr('id').slice(7,8))-1;
               $('[id^="'+b+'"]').val(slArr[tt]);
              $('[id^="'+b+'"]').prop('disabled',true);
        return;
        }
        t=$(this).attr('id').slice(0,6);
        if(t==='btnLuu'){
            var t2=$(this).attr('id').slice(6,7);
            var id = $('[id^="'+'edit'+t2+'"]').data('proid');
            var sl= $('[id^="'+'sl'+t2+'"]').val();
            $('#txtK').val(id);
            $('#txtH').val(sl);
            $('#frmeditItem').submit();
        }
    });
     $('.c_sl').keydown(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               return false;
            }
    });
     $('input[name=sdt').keydown(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               return false;
            }
    });
</script>
{{/section}}
<form id="frmRemoveItem" method="post" action="/gio-hang/remove">
    <input type="hidden" name="proId" id="txtP">
</form>
<form id="frmeditItem" method="POST" action="/gio-hang/edit">
        <input type="hidden" name="proId" id="txtK">
        <input type="hidden" name="quantity" id="txtH">
    </form>
 <div id="content">
        <div class="container1">
            <div class="row">
                <section class="hotrosetion">
                    <div class="checkout-page">
                        <div id="content">
                            <div class="breadcrumb">
                                <a href="/">Trang Chủ</a>
                                &nbsp;>>&nbsp;
                                <a href="javascript:">Giỏ Hàng</a>
                            </div>
                            <h1 style="font-size: 18px;font-style: italic;">&nbsp;&nbsp;Giỏ hàng của bạn ({{layoutVM.cartSummary}}) sản phẩm</h1>

                            <form action="" style="margin-bottom:20px;">
                                <table class="table table-striped" style=" border-top:1px solid black !important; border-bottom:1px solid black !important;">
                                    <thead>
                                        <tr style="font-weight: bold;font-size:18px;font-family: 'Droid serif', serif;">
                                            <td>STT</td>
                                            <td class="image">Hình ảnh</td>
                                            <td class="name">Tên sản phẩm</td>
                                            <td class="price">Đơn giá</td>
                                            <td class="quantity">Số lượng</td>
                                            <td class="total">Tổng tiền</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each items}}
                                            <tr>
                                                <td>{{inc @index}}</td>
                                                <td><img src="/assets/image/sanpham/{{product.MASP}}/1.jpg" alt="" style="width:50px"></td>
                                                <td>{{product.TENSP}}</td>
                                                <td>{{number_format product.GIABAN}}</td>
                                                <td><input id="sl{{inc @index}}" type="text" value="{{quantity}}"  class="c_sl">
                                                    <div id="btnSl{{inc @index}}" class="c_btnSl" style="font-family: 'Droid serif', serif;">
                                                        <button type='button' id="btnLuu{{inc @index}}">Lưu</button>
                                                        <button type='button' id="btnDong{{inc @index}}">Đóng</button>
                                                    </div>
                                                </td>
                                                <td>{{number_format amount}}</td>
                                                <td class="text-right">
                                                    <a data-proid="{{product.MASP}}" class="btn btn-danger btn-xs removeItem" href="javascript:" role="button">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                    <a data-proid="{{product.MASP}}" class="btn btn-danger btn-xs editItem" id='edit{{inc @index}}' href="javascript:" role="button">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <div class="text-right" style="font-weight:bold; font-size: 24px;font-family: 'Droid serif', serif;padding-bottom: 5px;padding-top:5px;padding-right: 10px;">
                                    Tổng tiền: <span style="color:red;text-decoration:underline;">{{number_format sum}} VNĐ</span>
                                </div>
                                
                            </form>
                            <h2 style="font-style: italic;font-weight:bold; font-size: 18px;font-family: 'Droid serif', serif;color:#DA4848;padding-top:10px;padding-bottom: 10px;text-decoration: underline;">! ĐỂ THANH TOÁN, VUI LÒNG ĐIỀN ĐẦY ĐỦ THÔNG TIN DƯỚI ĐÂY:</h2>
                            <div class="content">
                                <form action="/gio-hang/thanhToan" data-toggle="validator"  method="POST" role="form">
                                
                                    <div class="form-group">
                                        <label for="">Họ tên người nhận:</label>
                                        <input type="text" class="form-control" id="" name='htnn' placeholder="VD:Nguyễn A" data-error="Vui lòng nhập họ tên người nhận" required value="{{layoutVM.curUser.TEN}}">
                                          <p class="help-block with-errors"> </p>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="">Số điện thoại liên hệ:</label>
                                        <input type="text" class="form-control" id="" name='sdt' placeholder="VD:0906120999" data-error="Vui lòng nhập số điện thoại người nhận" required value="{{layoutVM.curUser.DTHOAI}}">
                                          <p class="help-block with-errors"> </p>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Địa chỉ nhận hàng:</label>
                                        <input type="text" class="form-control" id="" name='diachi' placeholder="VD:10/2 Quang Trung, P6,Q.GV" data-error="Vui lòng nhập địa chỉ nơi nhận" required value="{{layoutVM.curUser.DCHI}}">
                                          <p class="help-block with-errors"> </p>
                                    </div>
                                    
                                   
                                    <button type="submit" class="btn btn-success form-control" id='btnHt' style="background: #f15a23; margin-bottom: 30px; color: black;font-weight:bold; font-size: 24px;font-family: 'Droid serif', serif;text-align: center;padding-bottom: 5px;padding-top:5px; height: 80px;" >
                                        <img src="/assets/image/pay.png">
                                       Thanh toán
                                    </button>
                                </form>
      
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>