{{#section 'css'}}
    
{{/section}}

{{#section 'js'}}
   <script type="text/javascript">
    $('.removeItem').on('click', function() {
        var id = $(this).data('proid');
        $('#txtP').val(id);
        $('#frmRemoveItem').submit();

    });
    $('.editItem').on('click', function() {
        var id = $(this).data('proid');
        var sl=$('#sl').val();
        $('#txtK').val(id);
        $('#txtH').val(sl);
        $('#frmeditItem').submit();

    });
</script>
{{/section}}
<form id="frmRemoveItem" method="post" action="/gio-hang/remove">
    <input type="hidden" name="proId" id="txtP">
</form>
<form id="frmeditItem" method="POST" action="/gio-hang/edit">
        <input type="hidden" name="proId" id="txtK">
        <input type="hidden" name="quantity" id="txtH">
    </form>
 <div id="content">
        <div class="container1">
            <div class="row">
                <section class="hotrosetion">
                    <div class="checkout-page">
                        <div id="content">
                            <div class="breadcrumb">
                                <a href="../">Trang Chủ</a>
                                &nbsp;>>&nbsp;
                                <a href="#">Giỏ Hàng</a>
                            </div>
                            <h1 style="font-size: 18px;">Giỏ hàng của bạn (0) sản phẩm</h1>
                            <form action="" style="margin-bottom:20px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>STT</td>
                                            <td class="image">Hình ảnh</td>
                                            <td class="name">Tên sản phẩm</td>
                                            <td class="price">Đơn giá</td>
                                            <td class="quantity">Số lượng</td>
                                            <td class="total">Tổng tiền</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each items}}
                                            <tr>
                                                <td></td>
                                                <td><img src="/assets/image/sanpham/{{product.MASP}}/1.jpg" alt="" style="width:50px"></td>
                                                <td>{{product.TENSP}}</td>
                                                <td>{{product.GIABAN}}</td>
                                                <td><input id="sl" type="text" value="{{quantity}}"></td>
                                                <td>{{amount}}</td>
                                                <td class="text-right">
                                                    <a data-proid="{{product.MASP}}" class="btn btn-danger btn-xs removeItem" href="#" role="button">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                    <a data-proid="{{product.MASP}}" class="btn btn-danger btn-xs editItem" href="#" role="button">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <button style="background: #f15a23; margin-bottom: 50px; color: white; font-size: 20px;" class="button btn btn-block">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    Cập nhật
                                </button>
                            </form>
                            <h2>THÔNG TIN CỦA BẠN</h2>
                            <div class="content">
                                <p>Xác nhận thông tin chúng tôi gửi đến bạn</p>
                                <form action="">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" href="#collapse1">Thông tin và thanh toán</a>
                                            </h4>
                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse">
                                            <ul class="list-group">
                                              <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <label class="col-md-2">Họ Tên:</label>
                                                    <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="name">
                                                </div>
                                              </li>
                                              <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <label class="col-md-2">Số điện thoại:</label>
                                                    <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="phone">
                                                </div>
                                              </li >
                                              <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <label class="col-md-2">Địa chỉ:</label>
                                                    <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="address">
                                                </div >
                                                
                                              </li>
                                               <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <label class="col-md-2">Thanh toán:</label>
                                                    <select name="check_price" class="col-md-10 form-control" style="width: 500px;" >
                                                        <option value="0">Thanh toán tại nhà</option>
                                                        <option value="1">Thanh toán qua ngân hàng</option>
                                                    </select>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                          <br>
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" href="#collapse2">Mã giảm giá</a>
                                            </h4>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse">
                                            <ul class="list-group">
                                              <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <div class="content">
                                                        Nhập mã giảm giá tại đây:
                                                        <input type="text" name="code" value>
                                                        &nbsp;
                                                        <input type="submit" class="button" value="Kích hoạt">
                                                    </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                          <br>
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" href="#collapse3">Yêu cầu của bạn</a>
                                            </h4>
                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse">
                                            <ul class="list-group">
                                              <li class="list-group-item">
                                                <div style="margin-bottom: 30px;">
                                                    <div class="content">
                                                        <form action="">
                                                            <div class="form-group mb10">
                                                                <label>Hãy cho chúng tôi biết yêu cầu của bạn.</label>
                                                                <textarea name="name" class="form-control" rows="4" placeholder="Nhập yêu cầu của bạn" style="padding: 5px 5px 5px 5px;"></textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    <button style="background: #ffc300; color: white;" class="right button btn">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Hoàn tất mua hàng
                                    </button>
                                    <a href="home" style="background: #f15a23; color: white;" class="button btn">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Tiếp tục mua hàng
                                    </a>
                                </form>
                            </div>
                            <div class="cart-total">
                                <table class="total">
                                    <tbody>
                                        <tr>
                                            <td class="right"><b>Tổng hóa đơn:&nbsp;</b></td>
                                            <td class="right">0 đ</td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Tổng cộng:&nbsp;</b></td>
                                            <td class="right">0 đ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>