{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
    <script type="text/javascript">

        $('#content-ChiTietHoaDon .tt p').each(function(){
        if($(this).html()==='Đang giao hàng'){
           $(this).addClass('dangGiaoHang');

        }
        if($(this).html()==='Đã giao hàng'){
            $(this).addClass(' daGiaoHang');
        }
        if($(this).html()==='Chưa giao hàng'){
            $(this).addClass(' chuaGiaoHang');
        }
         if($(this).html()==='Đã hủy'){
            $(this).addClass(' daHuy');
        }
        });

    </script>
{{/section}}

        <div class="link">  
        <a href="/dash-board"> <span>  DashBoard</span></a>            
        Quản lí hóa đơn
        </div>
        <div class="body2">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title"  id="btnSearch">Tìm kiếm hóa đơn theo &nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/image/kinhLup.png"></div>
                <div class="inBox">
                    <div class="inBox">
                        <form id="search-order" method="post" action="/dash-board/quan-li-hoa-don-hang/search">
                            <input type="text" name="search" placeholder="nhập thông tin tìm kiếm">
                        </form>
                    </div>
                </div>
                <a href="/dash-board/quan-li-hoa-don-hang" style="color: black;clear: both;">  <div class="title"  id="btnAll">Tất cả</div></a>
            </div>
            
            <div id="rightBox">
                  <div class="title ">Danh sách hóa đơn phù hợp kết quả tìm kiếm</div> 
                    <ul id="listName">
                        <li class="mhd" title="Mã hóa đơn"><p>Mã hóa đơn</p></li>
                        <li class="tkkh" title="Tài khoản KH"><p>Tài khoản KH</p></li>
                        <li class="tkh" title="Tên khách hàng"><p>Tên khách hàng</p></li>
                        <li class="ndh" title="Ngày đặt hàng"><p>Ngày đặt hàng</p></li>
                        <li class="tt" title="Tình trạng"><p>Tình trạng</p></li>
                    </ul>
                    {{#each orders}}
                    <ul id="content-ChiTietHoaDon">
                        <a href="/dash-board/quan-li-hoa-don-hang/thong-tin-chi-tiet-hoa-don-hang?id={{IDHD}}">
                            <li class="mhd" title="Mã hóa đơn"><p>{{IDHD}}</p></li>
                            <li class="tkkh" title="Tài khoản KH"><p>{{USERNAME}}</p></li>
                            <li class="tkh" title="Tên khách hàng"><p>{{TEN}}</p></li>
                            <li class="ndh" title="Ngày đặt hàng"><p>{{time_format NGAYDATHANG}}</p></li>
                            <li class="tt" title="Tình trạng"><p>{{TINHTRANG}}</p></li>
                        </a>
                    </ul>
                    {{/each}}

            </div>
            
        </div>