
{{#section 'css'}}
   
    <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/thong-tin-chi-tiet-hoa-don-hang.css">

{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
    <script type="text/javascript " src="/assets/thong-tin-chi-tiet-hoa-don-hang.js "></script>
{{/section}}

        <div class="link">
            <a href="/dash-board"> <span >  DashBoard</span></a>     
            <a href="/dash-board/quan-li-hoa-don-hang"> <span >  Quản lí hóa đơn</span></a>
            Chi tiết hóa đơn 
        </div>
        <div class="body2">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title">Tìm kiếm hóa đơn theo &nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="inBox">
                    <div class="inBox">
                        <form id="search-order" method="post" action="/dash-board/quan-li-hoa-don-hang/search">
                            <input type="text" name="search" placeholder="nhập thông tin tiềm kiếm">
                        </form>
                    </div>
                </div>
            </div>
            <div id="rightBox">
                {{#with orders}}
                <div class="title">Chi tiết hóa đơn :
                    <span style="color:white;margin-left: 4px;" >{{IDHD}}</span>
                </div> 
                <div id="top-ChiTietHoaDon">
                    <div id="tkkh">
                        TK khách hàng:
                        <a href="/dash-board/quan-li-khach-hang/thong-tin-chi-tiet-tai-khoan-chu-shop-xem?id={{MAKH}}">
                            {{USERNAME}}
                        </a>
                    </div>
                    <div id="kh">
                        Khách hàng:
                       <span>{{TEN}}</span>
                    </div>
                    <div id="ndh">
                        Ngày đặt hàng: <span style="color: black;">{{time_format NGAYDATHANG}}</span>
                    </div>
                    <form action="" method="POST" role="form">
                    <div id="ttdh">
                    Tình trạng đơn hàng: <span class="chuaGiaoHang" >{{TINHTRANG}}</span>
                    &nbsp;<button type="submit" class="btn-danger">Thay đổi</button>
                    <select name="tinhtrang" >
                        <option value="chưa giao hang"  class="chuaGiaoHang">Chưa giao hàng</option>
                        <option value="đang giao hang"  class="dangGiaoHang">Đang giao hàng</option>
                        <option value="đã giao hang"  class="daGiaoHang">Đã giao hàng</option>
                        <option value="đã hủy"  class="daHuy">Đã hủy</option>
                    </select>
                    </div>
                    </form>
                </div>
                {{/with}}
                <div>Doanh mục sản phẩm:</div>
                    <ul id="listName">
                        <li class="msp" title="Mã SP"><p>Mã SP</p></li>
                        <li class="tsp" title="Tên sản phẩm"><p>Tên sản phẩm</p></li>
                        <li class="sl" title="Số lượng"><p>Số lượng</li>
                        <li class="thanhTien" title="Thành tiền"><p>Thành tiền</p></li>
                    </ul>
                    <ul id="content-ChiTietHoaDon">
                        {{#each pro}}
                        <ul>
                            <a href="/sanpham/thong-tin-chi-tiet-san-pham?id={{MASP}}">
                                <li class="msp" title="Mã SP">{{MASP}}</li>
                                <li class="tsp"><p title="Laptop Dell Latitude E6540 Core i5 15.6 inch">{{TENSP}}</p> </li>
                                <li  class="sl"><p>{{SOLUONG}}</p></li>
                                <li  class="thanhTien"><p>{{GIABAN}}</p></li>
                            </a>
                        </ul>
                        {{/each}}
                    </ul>
                    <br>
                    {{#with orders}}
                    <div>Tổng tiền: 
                        <span id="tongTien" style="color:#337AB7;">{{TONGTIEN}}</span>
                    </div>
                    {{/with}}
                    <br>
            </div>
            
        </div>